/* ----- Normalize ----------------- */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

li::marker {
  font-size: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----- / Normalize ------*/

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  color: #333333;
  font-family: "Arial";
  position: relative;
  line-height: 1.5;
  -ms-touch-action: pan-x pan-y;
      touch-action: pan-x pan-y;
}

body._lock {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  width: 100%;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px -3px #d6d5d5;
          box-shadow: 0px 0px 15px -3px #d6d5d5;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  position: relative;
  height: 25px;
  width: 35px;
  z-index: 56;
}

.burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
}

.burger span:nth-child(1) {
  top: 0%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, top 0.3s ease 0.3s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0.3s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
}

.burger span:nth-child(2) {
  top: calc(50% + 1px);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.3s;
  -o-transition: opacity 0.3s ease 0.3s;
  transition: opacity 0.3s ease 0.3s;
}

.burger span:nth-child(3) {
  top: 100%;
  -webkit-transform: rotate(0deg) translateY(-100%);
      -ms-transform: rotate(0deg) translateY(-100%);
          transform: rotate(0deg) translateY(-100%);
  -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, top 0.3s ease 0.3s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0.3s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
}

.burger_active span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  -o-transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
}

.burger_active span:nth-child(2) {
  top: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.burger_active span:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  -o-transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
}

.page {
  background-color: #aeaeae;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2000px;
}

.circle {
  height: 400px;
  width: 400px;
  position: relative;
  background-color: #a2cea4;
  z-index: 10;
}

.circle__rate {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
  z-index: 12;
}

.circle__rate::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  border-radius: 50%;
  border: 50px solid #00ff15;
}

.circle__rail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(61, 150, 108, 0.466);
  border: 50px solid #a9a9a9;
}

.circle__rail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #ffffff;
}

.circle__left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index: 12;
}

.circle__left::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  border-radius: 50%;
  border: 50px solid #a9a9a9;
}

.circle__right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.circle__right::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 200%;
  border-radius: 50%;
  border: 50px solid #a9a9a9;
}

.circle__value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 100px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle ._show-side::before {
  border: 50px solid #00ff15;
}

@media (min-width: 767.98px) {
  .burger {
    display: none;
  }
}

@media (max-width: 1125px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 25px;
  }
}