html {
    font-size: $font-size;
    scroll-behavior: smooth;    // Планая прокрутка к якорям
    //scroll-behavior: initial; // Отключение плавной прокрутки к якорям 
}

body {
    min-width: $min_width + px;
    color: $color;
    font-family: $font_family;
    position: relative;
    line-height: $line-height;
    touch-action: pan-x pan-y; // Отключает масштабирование на IOS > 13.5
    
    &._lock {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: $min_width + px;
    width: 100%;
    max-width: $max_width + px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 15px -3px #d6d5d5;
}

.container {
    max-width: $container_max_width + px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    // Сетка брейкпоинтов
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 $container_padding + px;
    }
}

.row {
    display: flex;
}

$burger_color: #333333;
    
.burger {
        flex: 0 0 auto;
        @media (min-width: $md3 + px){
            display: none;
        }
        display: block;
        position: relative;
        height: 25px;
        width: 35px;
        z-index: 56;

        //Линии бургера (общие)
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $burger_color;
        }

        // Линии бургера по отдельности
        span:nth-child(1) {
            top: 0%;
            transform: rotate(0deg);
            transition: transform $transition, 
                        top $transition_delay;
        }
        span:nth-child(2) {
            top: calc(50% + 1px);
            transform: translateY(-2px);
            opacity: 1;
            transition: opacity $transition_delay;
        }
        span:nth-child(3) {
            top: 100%;
            transform: rotate(0deg) translateY(-100%);
            transition: transform $transition, 
                        top $transition_delay;
        }
}

    // Активный бургер
.burger_active {
        span:nth-child(1) {
            top: 50%;
            transform: rotate(45deg);
            transition: top $transition, 
                        transform $transition_delay;
        }
        span:nth-child(2) {
            top: 50%;
            opacity: 0;
            transition: opacity $transition;
        }
        span:nth-child(3) {
            top: 50%;
            transform: rotate(-45deg);
            transition: top $transition, transform $transition_delay;
        }
}
// ----- / Burger ----------------------------------------------------